.container-fluid
  .card-article
    border: none
    .card-article__title
      margin: 0 15px
      font-size: 26px
      font-weight: 900
      line-height: 31px
    .card-article__notice
      font-size: 21px
      line-height: 34px
      margin: 20px 15px 0
    .card-article__image
      margin: 30px 0 10px


@media (min-width: 768px)
  .container-fluid
    .card-article
      .card-article__title
        margin: 0 45px
        font-size: 45px
        line-height: 54px
      .card-article__notice
        margin: 20px 45px 0

@media (min-width: 1200px)
  .container-fluid
    .card-article
      .card-article__title
        font-size: 50px
