.container-fluid
  .cards__wrapper
    margin-top: 10px
    .card-article__info
      margin: 0 15px 10px
      .tags-1
        padding-top: 10px
        h6
          padding-right: 15px
          font-weight: 700
      .date
        color: $font-color-gray
        padding-top: 10px
    .card-article
      border: none
      margin-bottom: 30px
      .card-article__paragraph
        a
          text-decoration: underline
          text-decoration-color: $font-color-hover
          color: $font-color-hover
      h1
        margin: 0 15px
      .card-article__paragraph
        margin: 20px 15px 0
      .card-article__notice
        @include text-article-quote()
        margin: 20px 15px 0
      .card-article__image
        margin: 30px 0 30px
      .card-content
        background-color: $bg-card-color
        margin: 20px 15px 0
        padding: 15px
        border: 1px solid $border-card-color
        border-radius: 20px
        h4.card-content__number
          color: $font-color-hover
          margin-bottom: 12px
        h2.card-content__title
          margin-bottom: 20px
        .card-content__text
          @include text-main-article()
  .articles-cards
    border-bottom: $border
    padding-bottom: 10px

.container-fluid.dark_theme
  .cards__wrapper
    .card-article
      .card-content
        background-color: $bg-card-color--dark
        border: 1px solid $border-color--dark
  .articles-cards
    border-bottom: $border--dark

@media (min-width: 768px)
  .container-fluid
    .cards__wrapper
      margin-top: 20px
      .card-article__info
        margin: 20px 45px
      .card-article
        h1
          margin: 0 45px
        .card-article__notice
          margin: 20px 45px 0
        .card-content
          padding: 30px
          margin: 20px 45px 0

@media (min-width: 1200px)
  .container-fluid
    .cards__wrapper
      margin-top: 0
      .card-article
        width: 830px
        margin-left: 45px
        margin-right: 25px
        h1
          margin: 0
        .card-article__notice
          margin: 0
        .card-content
          margin: 20px 0
          padding: 60px 70px
      .card-article__navigation
        width: 255px
        margin-top: 20px
        margin-bottom: 30px
        padding: 25px
        background-color: $bg-card-color
        display: block
        border: 1px solid $border-card-color
        border-radius: 20px
        .list-group
          .list-item
            padding-bottom: 15px
            &:last-child
              padding-bottom: 0

  .container-fluid.dark_theme
    .cards__wrapper
      .card-article__navigation
        background-color: $bg-card-color--dark
        border: 1px solid $border-color--dark
