.container-fluid
  .form
    background-color: $bg-color
    border-radius: 20px
    padding: 20px
    margin: 15px
    font-size: 13px
    line-height: 19px
    .form__el
      display: flex
      flex-direction: column
      span
        margin-bottom: 5px
      .form__input
         @include btn ()
         padding: 8px 16px
         height: 40px
         background-color: transparent
         &:active, &:focus
          border-color: $color-error
      .form__input.help
        height: 340px
        margin-bottom: 10px
      .form__input.error
        border-color: $color-error
    .form__el.surname,
    .form__el.name
      margin-bottom: 10px

    .btn-send
      @include btn ()
      width: 100%
      margin-top: 10px
      height: 40px
      padding: 8px 16px

  .form-sended
    display: flex
    flex-direction: column
    .icons-send
      fill: $font-color
      margin-right: 20px
      margin-top: -5px

.container-fluid.dark_theme
  .form
    background-color: $bg-color--dark
    .form__el
      .form__input
         @include btn--dark ()
         padding: 8px 16px
         height: 40px
         &:active, &:focus
          border-color: $color-error
      .form__input.help
        height: 340px
      .form__input.error
        border-color: $color-error
    .btn-send
      @include btn--dark ()
      height: 40px
      padding: 8px 16px
  .form-sended
    .icons-send
      fill: $font-color--dark

@media (min-width: 768px)
  .container-fluid
    .form
      padding: 40px 55px
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      margin: 15px 45px
      .form__el
        width: 49%
      .form__el.message
        width: 100%
      .btn-send
        width: auto
        min-width: 140px
    .form-sended
      justify-content: flex-start


@media (min-width: 1200px)
  .container-fluid
    .form

      margin: 15px auto
      max-width: 825px
