.container-fluid
  .tags
    margin: 10px 15px
    margin-top: 0
    .tags_group
      .tag
        margin-right: 15px
        margin-bottom: 15px
        background: $bg-tag-color
        border-radius: 20px
        padding: 5px 10px
        display: block
        white-space: nowrap
        font-size: 12px
        &:last-child
          margin-right: 0

.container-fluid.dark_theme
  .tags
    .tags_group
      .tag
        background: $bg-tag-color--dark

@media (min-width: 768px)
  .container-fluid
    .tags
      margin: 45px
      margin-top: 10px

@media (min-width: 1200px)
  .container-fluid
    .tags
      width: 830px
